.forget-password-header {
  font-family: 'Lora', serif; /* Elegant, premium font */
  font-size: 2rem; /* Larger font size for prominence */
  font-weight: 700; /* Bold weight */
  color: #2c3e50; /* Dark color for sophistication */
  text-align: center; /* Center align the text */
  margin-bottom: 1rem; /* Space below the header */
  letter-spacing: 1.2px; /* Slightly increased letter spacing */
  border-bottom: 2px solid #4a90e2; /* Stylish underline for emphasis */
  padding-bottom: 0.5rem; /* Padding to balance the underline */
}


.forget-password-form-control {
    width: 100%;
    padding: 0.375rem 0.75rem; /* Default form control padding */
    font-size: 1rem; /* Default font size */
    line-height: 1.5; /* Default line height */
    color: #495057; /* Default text color */
    background-color: #fff; /* Default background color */
    background-clip: padding-box; /* Default background clip */
    border: 1px solid #ced4da; /* Default border color */
    border-radius: 0.25rem; /* Default border radius */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Default transition */
  
    /* Custom styles */
    
    padding: 10px 15px; /* Custom padding */
    border: 1px solid   #4a90e2; /* Custom border color */
    color: #2c3e50; /* Custom text color */
    font-weight: 600;   
  }

  .highlighted-label {
    color: #FFA500;
    font-weight: 350;
  }
  
  .highlighted-email {
    color: #2c3e50;
    font-weight: bold;
  }
  